// Codrops overwrite


#mp-menu {
	color: #fff;

	.diazoed & {display: block;}
}

.mp-level {
	
	background: #ccc;
}

.mp-menu ul li > a {
	background: #eee;
}

.mp-menu.mp-overlap h2 {
	background: #fff;
}

.mp-menu ul li a:hover, .mp-level > ul > li:first-child > a:hover {
	background: #fff;
	box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset, 0 1px rgba(0, 0, 0, 0.2) inset;
}

.mp-back {
	background: #ccc;
	color: #fff !important;

	&:hover {color: #333 !important; box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset, 0 1px rgba(0, 0, 0, 0.2) inset;}
}